body {
    margin: 0;
	text-align: center;
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #131418;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.container {
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.carousel-container {
    text-align: center;
    padding: 100px;
}

.container h1 {
    font-style: normal;
    font-size: 80px;
    letter-spacing: -3px;
    line-height: 1.2em;
    margin-bottom: 50px;
    margin-top: 50px;
}

.carousel-container h1 {
    font-style: normal;
    font-size: 80px;
    letter-spacing: -3px;
    line-height: 1.2em;
    margin-bottom: 50px;
    margin-top: 10px;
}

.swiper {
    width: 50%;
    height: auto;
}

.swiper-slide{
    aspect-ratio: 4 / 3;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .carousel-container{
        padding: 25px;
        margin-top: 0px;
    }

	.carousel-container h1 {
		font-size: 32px;
		font-weight: 400;
		letter-spacing: -1px;
	}

    .swiper {
        width: 100%;
        height: auto;
    }
}